<head>
    <title>404</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!-- Meta Tags For Robots *beep boop* -->
    <meta property="og:title" content="Rob's redirect page" />
    <meta property="og:description" content="A page where Rob's code can handle redirects. Created so I, Rob, don't need to use other websites for URL shortening." />
    <meta property="og:image" content="" />
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="Rob's redirect page">
    <meta name="twitter:description" content="A page where Rob's code can handle redirects. Created so I, Rob, don't need to use other websites for URL shortening.">
    <meta name="twitter:image" content="">

</head>

<body>
  <div onClick="window.history.back();">
    <section class="hero pt-5 pb-1 pt-0 mt-0 vh-100 align-items-center d-flex bg-dark">
      <div class="container-fluid">
        <div class="row justify-content-center align-items-center d-flex-row text-center h-100">
          <div class="col-12 col-md-8">
            <div
              class="icon-wrap text-primary d-flex justify-content-center my-3">
              <button class="<%= status %> circle icon d-flex border-0 align-items-center justify-content-center text-dark rounded-circle " style="width:20vh; height:20vh">
                <i class="circleText fas fa-play fa-lg ml-1"></i>
              </button>
              </div>
            </div>
            <p class="<%= status %> highlight bold text-white small text-uppercase mb-1 mt-5 px-2 mx-3"><%= highlighted %></p>
            <h1 class="text-white mb-2 mt-2">
              <%= bigText %>
            </h1>
            <p class="text-white mb-2 mt-2">Click anywhere on the page to go back</p>
          </div>
        </div>
      </div>
    </section>
  </div>

    <!-- jQuery Library-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>

    <!-- BootstrapJs Library-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>